<!-- slider  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<!-- map  -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{% for post in site.posts %}
  {% if post.featured == true %}
    {% assign is-featured = true %}
  {% endif %}
{% endfor %}

{% if is-featured == true %}
<!-- begin featured section -->
<div class="featured-section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="featured__info">
          <div class="featured__head">
            <h2 class="featured__title">Explore our creations</h2>
            <ul class="slider-controls list-reset" id="customize-controls" aria-label="Slider Navigation" tabindex="0">
              <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-round-back"></i>
              </li>
              <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-round-forward"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="hero-container">
    <!-- mobile -->
    <div class="swiper mySwiperMobile">
      <div class="swiper-wrapper">
        {% for post in site.posts %}
          {% if post.featured == true %}
            <div class="swiper-slide">
              
                <div class="article__inner">

                  <div class="article__head">
                    {% if post.video_embed %}
                    <div class="video-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <polygon points="40,30 65,50 40,70"></polygon>
                      </svg>
                    </div>
                    {% endif %}

                    <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
                      {% if post.image %}
                        <img class="lazy" data-src="{{site.baseurl}}{{post.highlight_image}}" alt="{{post.title}}">
                      {% endif %}
                    </a>

                    <div class="article__meta">
                      {% assign author = site.authors | where: 'username', post.author | first %}
                      {% if author %}
                      <a href="{{ author.url }}" class="article__author__image" title="{{ author.name }}">
                        <img class="lazy" data-src="{{ post.image }}" alt="{{ author.name }}">
                      </a>
                      {% else %}
                      <a href="{{site.baseurl}}/about/" class="article__author__image" title="{{site.data.settings.author.author__name}}">
                        <img class="lazy" data-src="{{site.data.settings.author.author__avatar}}" alt="{{site.data.settings.author.author__name}}">
                      </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="article__content">

                    {% if post.tags.size >= 1 %}
                    <div class="article-tags__box">
                      {% for tag in post.tags %}
                      <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}" class="article__tag">{{ tag }}</a>
                      {% endfor %}
                    </div>
                    {% endif %}

                    <h2 class="article__title" style="margin-bottom: 0px;">
                      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>

                    <!-- <p class="article__excerpt">
                      {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 160 }}{% endif %}
                    </p> -->
                  </div>

                </div>
              
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- <div class="swiper-button-next">a</div>
      <div class="swiper-button-prev">b</div> -->
    </div> <!-- end swiper -->
    <div id="map"></div>
  </div>

</div>
<!-- end featured section -->
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiperMobile", {
      effect: "cards",
      perSlideOffset: 8,
      perSlideRotate: 2,
      rotate: true,
      slideShadows: false,
      // loop: true,
      grabCursor: true,
      autoplay: {
          delay: 4000,
          disableOnInteraction: true,
      },
      navigation: {
      nextEl: ".ion-ios-arrow-round-forward",
      prevEl: ".ion-ios-arrow-round-back",
    },
  });
</script>


<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyDnwyEZWfu8C4-TbZHgF61favWGA2WDVmo",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });

  let map;

  async function initMap() {
    // The location of Uluru
    const positions = [
      // { lat: -25.344, lng: 131.031 }, // Uluru
      // { lat: -33.8688, lng: 151.2093 }, // Sydney
      // { lat: 37.7749, lng: -122.4194 }, // San Francisco
      // { lat: 51.5074, lng: -0.1278 }, // London
      { lat: 43.65107, lng: -79.347015 }, // Toronto
      { lat: 43.8561, lng: -79.337 }, // Markham
      { lat: 43.7735, lng: -79.5019 }, // Scarborough
      // { lat: 45.4215, lng: -75.6972 }, // Ottawa
      { lat: 43.9706, lng: -79.2506 }, // Stouffville
      { lat: 43.6532, lng: -79.3832 }, // Toronto
      { lat: 43.8454, lng: -79.3689 }, // Markham
      { lat: 43.7845, lng: -79.2318 }, // Scarborough
      // { lat: 45.4247, lng: -75.695 }, // Ottawa
      { lat: 43.9651, lng: -79.2443 }, // Stouffville
      { lat: 43.6677, lng: -79.3948 }, // Toronto
      { lat: 43.8765, lng: -79.2631 }, // Markham
      { lat: 43.7975, lng: -79.3417 }, // Scarborough
      // { lat: 45.417, lng: -75.6998 }, // Ottawa
      { lat: 43.9605, lng: -79.2496 }, // Stouffville
      { lat: 43.6535, lng: -79.3845 }, // Toronto
      { lat: 43.8611, lng: -79.3251 }, // Markham
      { lat: 43.7806, lng: -79.2319 }, // Scarborough
      // { lat: 45.421, lng: -75.6903 }, // Ottawa
      { lat: 43.9683, lng: -79.2428 } // Stouffville
    ];
    // Request needed libraries.
    //@ts-ignore
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

    // The map, centered at Uluru
    map = new Map(document.getElementById("map"), {
      zoom: 4,
      center: positions[0],
      mapId: "90860b38f9a3cca0",
      disableDefaultUI: true,
    });

    //bounds start---
    // Create a LatLngBounds object to capture all positions
    const bounds = new google.maps.LatLngBounds();

    // Loop through positions to create markers and extend bounds
    positions.forEach(position => {
      const marker = new AdvancedMarkerElement({
        map: map,
        position: position,
        title: "Marker",
      });
      bounds.extend(position);
    });

    // Adjust the map to fit all markers
    map.fitBounds(bounds);
    //bounds end---

    // // The marker, positioned at Uluru
    // const marker = new AdvancedMarkerElement({
    //   map: map,
    //   position: position,
    //   title: "Uluru",
    // });
  }

  initMap();
</script>