<!-- slider  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<!-- map  -->
<!-- Include Leaflet -->
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet">
<!-- Include CARTO.js -->
<script src="https://libs.cartocdn.com/carto.js/v4.2.0/carto.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://carto.com/developers/carto-js/examples/maps/public/style.css" rel="stylesheet">

{% for post in site.posts %}
  {% if post.featured == true %}
    {% assign is-featured = true %}
  {% endif %}
{% endfor %}

{% if is-featured == true %}
<!-- begin featured section -->
<div class="featured-section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="featured__info">
          <div class="featured__head">
            <h2 class="featured__title">Explore our creations</h2>
            <ul class="slider-controls list-reset" id="customize-controls" aria-label="Slider Navigation" tabindex="0">
              <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-round-back"></i>
              </li>
              <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-round-forward"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="hero-container">
    <!-- mobile -->
    <div class="swiper mySwiperMobile">
      <div class="swiper-wrapper">
        {% for post in site.posts %}
          {% if post.featured == true %}
            <div class="swiper-slide">
              
                <div class="article__inner">

                  <div class="article__head">
                    {% if post.video_embed %}
                    <div class="video-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <polygon points="40,30 65,50 40,70"></polygon>
                      </svg>
                    </div>
                    {% endif %}

                    <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
                      {% if post.image %}
                        <img class="lazy" data-src="{{site.baseurl}}{{post.highlight_image}}" alt="{{post.title}}">
                      {% endif %}
                    </a>

                    <div class="article__meta">
                      {% assign author = site.authors | where: 'username', post.author | first %}
                      {% if author %}
                      <a href="{{ author.url }}" class="article__author__image" title="{{ author.name }}">
                        <img class="lazy" data-src="{{ post.image }}" alt="{{ author.name }}">
                      </a>
                      {% else %}
                      <a href="{{site.baseurl}}/about/" class="article__author__image" title="{{site.data.settings.author.author__name}}">
                        <img class="lazy" data-src="{{site.data.settings.author.author__avatar}}" alt="{{site.data.settings.author.author__name}}">
                      </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="article__content">

                    {% if post.tags.size >= 1 %}
                    <div class="article-tags__box">
                      {% for tag in post.tags %}
                      <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}" class="article__tag">{{ tag }}</a>
                      {% endfor %}
                    </div>
                    {% endif %}

                    <h2 class="article__title" style="margin-bottom: 0px;">
                      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>

                    <!-- <p class="article__excerpt">
                      {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 160 }}{% endif %}
                    </p> -->
                  </div>

                </div>
              
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- <div class="swiper-button-next">a</div>
      <div class="swiper-button-prev">b</div> -->
    </div> <!-- end swiper -->
    <div id="map"> </div>
  </div>


  
  
  

</div>
<!-- end featured section -->
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiperMobile", {
      effect: "cards",
      perSlideOffset: 8,
      perSlideRotate: 2,
      rotate: true,
      slideShadows: false,
      // loop: true,
      grabCursor: true,
      autoplay: {
          delay: 4000,
          disableOnInteraction: true,
      },
      navigation: {
      nextEl: ".ion-ios-arrow-round-forward",
      prevEl: ".ion-ios-arrow-round-back",
    },
  });
</script>

<script>
  const map = L.map('map').setView([30, 0], 3);
  map.scrollWheelZoom.disable();

  L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_nolabels/{z}/{x}/{y}.png', {
  maxZoom: 18
  }).addTo(map);

  const client = new carto.Client({
  apiKey: 'default_public',
  username: 'cartojs-test'
  });

  const source = new carto.source.Dataset(`
  ne_10m_populated_places_simple
  `);
  const style = new carto.style.CartoCSS(`
  #layer {
      marker-width: 7;
      marker-fill: #EE4D5A;
      marker-line-color: #FFFFFF;
  }
  `);
  const layer = new carto.layer.Layer(source, style);

  client.addLayer(layer);
  client.getLeafletLayer().addTo(map);
</script>