/* Featured Section */
.featured-section {
  margin-bottom: 226px;
  margin-top: 80px;
  @media (max-width: $desktop) {
    margin-top: 80px;
    margin-bottom: 210px;
  }

  @media (max-width: $tablet) {
    margin-top: 40px;
    margin-bottom: 160px;
  }

  @media (max-width: $mobile) {
    margin-top: 20px;
  }
}

.featured__slider {
  min-height: 360px;

  .container {
    position: relative;
  }
}

.featured__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.featured__title {
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 21px;
  line-height: 32px;
  font-weight: normal;
  color: inherit;

  @media (max-width: $tablet) {
    font-size: 20px;
  }
}

.slider-controls {
  display: flex;
  align-items: center;

  .prev,
  .next {
    width: 20px;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    outline: none;
    cursor: pointer;
  }

  .prev {
    margin-right: 8px;
  }
}

.posts-slider {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -162px;

  .article {
    user-select: none;
    cursor: grab;
    max-width: 360px;
  }
  
}
.article__image {
  background-color: var(--dark);
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures that the overflowing parts of the image are hidden */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    object-position: center; /* Centers the image */
  }
}

.tns-ovh {
  overflow: visible;
}

.tns-horizontal.tns-subpixel {
  white-space: normal;
}

[aria-disabled="true"] {
  opacity: 0.3;
}

// phone swiper
// .swiper {
//   // max hight = 90px
//   max-height: 500px;
// }
.swiper.mySwiperMobile{
  width: 335px;
  // background-color: white;
  // padding-bottom: 30px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  /* font-size: 22px; */
  /* font-weight: bold; */
  /* color: #fff; */
}
// .swiper-slide:nth-child(1n) {
//   background-color: rgb(206, 17, 17);
// }

// .swiper-slide:nth-child(2n) {
//   background-color: rgb(0, 140, 255);
// }

// .swiper-slide:nth-child(3n) {
//   background-color: rgb(10, 184, 111);
// }

// .swiper-slide:nth-child(4n) {
//   background-color: rgb(211, 122, 7);
// }

// .swiper-slide:nth-child(5n) {
//   background-color: rgb(118, 163, 12);
// }

// .swiper-slide:nth-child(6n) {
//   background-color: rgb(180, 10, 47);
// }

// .swiper-slide:nth-child(7n) {
//   background-color: rgb(35, 99, 19);
// }

// .swiper-slide:nth-child(8n) {
//   background-color: rgb(0, 68, 255);
// }

// .swiper-slide:nth-child(9n) {
//   background-color: rgb(218, 12, 218);
// }

// .swiper-slide:nth-child(10n) {
//   background-color: rgb(54, 94, 77);
// }